<div id="flash-messages" class="py-1 w-full lg:w-2/3 mx-auto flex justify-center">
<% flash.each do |type, message| %>
  <div class="absolute left-1/2 -translate-x-1/2 py-4 px-3 bg-green-100 mb-5 text-green-500 font-medium rounded-lg text-center alert-<%= type %>">
    <%= message %>
  </div>
<% end %>
</div>

